
# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore,angular
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore,angular

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
package-lock.json
# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore,angular
